<!DOCTYPE html>
<html ng-app="<%= name %>">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= name %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" type="text/css" href="/current/styles/base.css">
        <script src="/current/vendor/angular.min.js"></script>
        <script src="/current/vendor/angular-route.min.js"></script>
    </head>

    <body>
        <div ng-view></div>
        <script src="/current/app.js"></script>
    </body>
</html>